---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
---

<Layout title="Welcome to Form service by Adobe">
	<main class="mx-auto p-4 max-w-[800px] text-white text-xl leading-relaxed">
		<h1 class="text-6xl font-bold leading-none text-center mb-8">Welcome to <span class="text-gradient">Form service</span> by Adobe <span class="text-gradient">POC</span></h1>
		<p class="instructions text-center">
			To get started, choose a customer from the list below.<br />
			<strong>Note:</strong> Only Customer Overview is Implemented
		</p>
		<ul role="list" class="grid grid-cols-[repeat(auto-fit,minmax(24ch,1fr))] gap-8 p-0">
			<Card
				href="/customers"
				title="Customer Overview"
				body="Browse through our customer list and access their dedicated forms."
			/>
			<Card
				href="/test"
				title="Testing page"
				body="Try out certain components on this route to see how they work."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	.astro-a {
		@apply absolute -top-8 left-1/2 -translate-x-1/2 w-[220px] z-[-1];
	}
</style>
