---
import { ExternalTrainingRequestForm } from "@/components/ExternalTrainingRequestForm.tsx";
import Layout from "@/layouts/Layout.astro";
import ShowReturn from "@/components/ShowReturn.tsx";
import { getEntry } from "astro:content";
import type { CustomerData } from "@/types/Customer";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@/i18n/utils";

const { customerName } = Astro.params;
const customer = await getEntry("customers", customerName as string);
if (!customer) {
	throw new Error(`Customer with name ${customerName} not found`);
}
const customerData: CustomerData = customer?.data;
const formData = await getEntry("forms", "formdata");
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("customername.title")}>
	<main class="mx-auto p-4 max-w-[calc(100%-2rem)] text-xl leading-relaxed">
		<h1 class="text-6xl font-bold leading-none text-center mb-8 text-gray-900 dark:text-white">{t("customername.form")}</h1>
		<div class="flex flex-col gap-2">
			<ShowReturn client:load />
			<ExternalTrainingRequestForm client:load customerData={customerData} formData={formData.data} url={Astro.url} />
		</div>
	</main>
</Layout>
