---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@/i18n/utils";

const allCustomers: CollectionEntry<"customers">[] = await getCollection("customers");
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title={t("customers.title")}>
	<main class="mx-auto p-4 max-w-[800px] text-xl leading-relaxed">
		<h1 class="text-6xl font-bold leading-none text-center mb-8">
			{t("customers.welcome")} <span class="text-gradient">{t("customers.overview")}</span>
		</h1>
		<p class="instructions text-center">
			{t("customers.instructions")}<br />
			<strong>{t("customers.note")}</strong>
			{t("customers.only_pictet_has_form")}
		</p>

		<ul role="list" class="grid grid-cols-[repeat(auto-fit,minmax(24ch,1fr))] gap-8 p-0">
			{
				allCustomers.map((customer) => (
					<Card 
						href={translatePath(`/customers/${customer.slug}`, lang)} 
						title={customer.data.name} 
						body={customer.data.description} 
					/>
				))
			}
		</ul>
	</main>
</Layout>

<style></style>
